<form name="{{ .Title | lower }}-submission"{{ if .Params.formspree_form_id }} action="https://formspree.io/f/{{ .Params.formspree_form_id }}"{{ end }} method="post" accept-charset="utf-8">
  <fieldset id="{{ .Title | lower }}-inputs">
    <legend>{{ .Params.Name }}</legend>
    <!-- <label for="name">Name</label> -->
    <input type="text" name="Name" id="name" placeholder="Name/organization" style="width: 50%; margin-bottom:10px" required>
    <!-- <label for="email">Email address</label> -->
    <input type="email" name="Email" id="email" placeholder="your@email.address " style="width: 50%; margin-bottom:10px" required>
    <!-- <label for="subject">Subject</label> -->
    <input type="text" name="Subject" id="subject" placeholder="Message subject" style="width: 100%; margin-bottom:10px" required>
    <!-- <label for="message">Message</label> -->
    <textarea rows="6" name="Message" id="message" placeholder="Thank you for contacting us. Please write your inquiries here.&#10;We will reply to you as soon as possible." style="width: 100%; margin-bottom:10px" required></textarea>
  </fieldset>
  <input type="submit" value="{{ if .Params.submit_button_label }}{{ .Params.submit_button_label }}{{ end }}">
  {{ if .Params.show_poweredby_formspree }}<small class="db dib-l ml4-l">Powered by <a href="https://formspree.io" target="_blank">Formspree</a></small>{{ end }}
</form>
