{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <article role="main" class="blog-post">
          {{ .Content }}
          
          {{ if eq .Params.type "form"}}
            {{ partial "shared/contact-form.html" . }}
          {{ else if eq .Params.type "calendar"}}
            {{ partial "shared/calendar.html" . }}
          {{ end }}
        </article>
      </div>
      
    </div>
  </div>
{{ end }}